@import url('https://fonts.googleapis.com/css?family=Andada');

div#navega{
    position: relative;
    top: 5px;
    left: 5px;
    margin-bottom: 5px;
}

div#navega a{
    text-decoration: none;
    color: #000;
}

a#esp {
    text-decoration: none;
    color: #606060;     
}

a#esp:hover{
    color: #1a7c96;
    text-decoration: underline;    
}

.adicionar1{
    background-image: url("../icones/adicionar.png");
    background-size: 100% 100%;
    width: 25px;
    height: 25px;
    border-radius: 15px;
    position: relative;
    margin-top: -25px;
    top: -20px;
    float: right;
    border: none;
    background-color: white;
    visibility: hidden;
}

div.tituloBotao{
    height: 50px;
}

div.tituloETabela:hover .adicionar1{
    visibility: visible;
}

tr.vazio{
    background-color: #DCDCDC;
}

.adicionar1:hover{
    cursor: pointer;
    background-color: #1a7c96;
}

a.esp{
    text-decoration: none;
    color: #000;
}

a.esp:hover{
    cursor: pointer;
    text-decoration: underline;
    color: #00FFFF;
}

span#atual{
    color: #00a4d3 !important;
}

div#navega a:hover{
    color: #00a4d3;
    text-decoration: underline;
    cursor: pointer;
}

/* MODAL */
input#agora{
    border: #c0c0c0 solid 1px;
    border-radius: 5px;
    padding: 3px;
    background-color: #fff;
    color: #006e8c;
}

input#agora:hover{
    color:#fff;
    background-color: #006e8c;
    cursor: pointer;
}

table.caracteristica td{
    padding: 2px;
}

a.abrirModal{
    border-radius: 5px;
    position: relative;
    margin-top: -25px;
    top: -20px;
    float: right;
    color: #1a7c96;
    text-decoration: none;
    padding: 5px;
    background-color: #dcdcdc;
}

/*MENU LATERAL*/
img#iconeT{
    margin-left: 5px;
    transition: 0.5s;
    background-color: #f0eded;
    padding: 3px;
    border-radius: 5px;
    width: 25px;
    z-index: 1;
}

#check:checked ~ .menuLateralT{
    transform: translateX(255px);
}

#check:checked ~ #corpo{
    transform: translateX(7.5%);
}

div.menuLateralT {
    background-color: #f0eded;
    width: 225px;
    border-radius: 5px;
    position: relative;
    margin-top: -40px;
    left: -255px;
    transition: all 0.5s;
    display: grid;
}

div.menuLateralT ul#botoes{
    list-style: none;
    position: relative;
    margin-top: -15px;
}

/*CORPO*/
div#topo{
    position: relative;
    left: 100%;
    margin-left: -122.5px;
    width: 122.5px;
    background-color: #f7f6f6;
    padding: 8px;
}

div#topo a{
    font-family: 'Andada', serif;
    text-decoration: none;
    color: #000;
}

div#topo img{
    width: 16px;
    position: relative;
    top: 3px;
    left: 5px;
}

div#corpo{
    position: absolute;
    top: 90px;
    left: 10%;
    width: 80%;
    transition: all 0.5s;
}

h1{
    font-family: 'Andada', serif;
    font-size: 30px;
    width: 250px;
    color: #1a7c96;
    position: relative;
    left: 50%;
    margin-left: -125px;
    text-align:center;
    top: 10px;
}

h2{
    font-family: 'Andada', serif;
    color: #606060; 
    font-weight: inherit;
    position: relative;
}

h2#agua{
    left: 48%;
    width: 4%;
}

h2#peixes{
    left: 47.5%;
    width: 5%;
    min-width: 80px;
}

h2#arracoamento{
    left: 44.75%;
    width: 10.5%;
    min-width: 144px;
}

h2#dadosTanque{
    left: 43.25%;
    width: 13%;
    min-width: 192px;
}

hr{
    width: 100%;
    position: relative;
    top: -15px;
}

tr.erro{
    background-color: red;
}

table.dados{
    border-width: 1px;
    border-spacing: 0px;
    position: relative;
    top: -15px;
}

table#agua{
    left: 50%;
    margin-left: -485px; /*(width/2) - padding-right - padding-left - btts.width*/
    width: 1050px;
}

table#peixe{
    left: 50%;
    margin-left: -495px;
    width: 1100px;
}

table#arracoamento{
    left: 50%;
    margin-left: -550px;
    width: 1100px;
}

table#arracoamento td{
    padding-left: 40px !important;
    padding-right: 40px !important;
}

table#dadosDoTanque{
    left: 50%;
    margin-left: -430px;
    width: 1100px;
    text-align: left !important;
}

table#dadosDoTanque td{
    padding-left: 40px !important;
    padding-right: 40px !important;
}

table.dados td{
    text-align: center;
    border-style: solid;
    border-width: 1px;
    padding-left: 15px;
    padding-right: 15px; 
}

table.dados td.btts{
    text-align: center;
    border-style: inherit !important;
    border-width: 0px !important;
    visibility: hidden;
}

table.dados tr:hover td.btts{
    visibility: visible;
}

table.dados td.btts img{
    width: 17.5px;
    margin-left: 5px;
    position: relative;
    top: 2px;
    left: -7.5px;
}

td.aviso{
    background-color: white !important;
    border-style: none !important;
}

img.atencao{
    width: 20px;
}

table.dados tr.titulo{
    background-color: #91e4fb; 
}

td.btts button{
    border-style: inherit;
    background-color: #fff;
    border-radius: 25px;
    width: 25px;
    position: relative;
    left: -10px;
}

td.btts button:hover{
    background-color: #1a7c96;
    cursor: pointer;
}

body{
    max-height: 1000px;
}

input.alter{
    height: 15px;
    width: 50%;
    border-bottom: solid;
    border-width: thin;
}

footer#rodape{
    top: 170% !important;
}

table.caracteristica td{
    padding-left: 50px;
    padding-right: 10px;
    font-family: 'Andada', serif;
}

h2.v2{
    font-family: 'Andada', serif;
    font-size: 20px;
    width: 100%;
    text-align:center;
    color: #1a7c96;
}

div#especie{
    display: flex;
    align-items: center; 
}

img#espec{
    width: 350px;
    position: relative;
    left: -100px;
    float: right;
}

table.avaliar td{
    padding-left: 10px;
    padding-right: 10px;
    font-family: 'Andada', serif;
}

div#semEspecie{
    position: relative;
    left: 10%;
    border-radius: 15px;
    font-family: 'Andada', '_serif';
    width: 80%;
    text-align: center;
    background-color: #dcdcdc;
    padding: 20px;
    margin-top: -20px;
}