@import url('https://fonts.googleapis.com/css?family=Andada');

div#navega{
    position: relative;
    top: 5px;
    left: 5px;
    margin-bottom: 5px;
}

div#navega a{
    text-decoration: none;
    color: #000;
}

span#atual{
    color: #00a4d3 !important;
}

div#navega a:hover{
    color: #00a4d3;
    text-decoration: underline;
    cursor: pointer;
}

/*RELATÓRIOS FINANCEIROS*/
div#topo{
    float: right;
    background-color: #f7f6f6;
    padding: 8px;
}

div#topo a{
    font-family: 'Andada', serif;
    text-decoration: none;
    color: #000;
}

div#topo img{
    width: 16px;
    position: relative;
    top: 3px;
    left: 5px;
}

nav#submenu{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 310px;
    position: relative;
    left: 50%;
    margin-left: -155px;
    border-radius: 5px;
}

nav#submenu button{
    font-family: 'Andada', serif;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    border-style: inherit;
    background-color: #fff;
    transition: all 0.2s;
}

nav#submenu button:hover{
    cursor: pointer;
    background-color: #4dd7fa;
    color: #fff;
}

nav#submenu button#sub-current{
    background-color: #4dd7fa !important;
    color: #fff;
}

form#mesAno{
    position: relative;
    top: 15px;
    left: 5%;
    width: 90%;
}

form#mesAno select{
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 50px;
}

div#corpo{
    width: 80%;
    position: relative;
    left: 10%;
}

h2{
    font-family: 'Andada', serif;
    color: #606060; 
    font-weight: inherit;
    position: relative;
}

h2#investimentos{
    left: 50%;
    margin-left: -76px;
    width: 152px;
}

h2#vendas{
    left: 50%;
    margin-left: -40px;
    width: 80px;
}

span.titulo{
    display: block;
}

span.titulo button{
    visibility: hidden;
    float: right;
    margin-right: 5px;
    border-style: inherit;
    background-color: #fff;
    border-radius: 40px;
    width: 40px;
    height: 40px;
    position: relative;
    top: -57.5px;
}

div#corpo div:hover span.titulo button{
    visibility: visible;
}

span.titulo button img{
    width: 30px;
    margin-left: 5px;
    position: relative;
    top: 3px;
    left: -5.5px;
}

span.titulo button:hover{
    cursor: pointer;
}

hr{
    width: 100%;
    position: relative;
    top: -55px;
}

table.dados{
    border-width: 1px;
    border-spacing: 0px;
    position: relative;
    top: -55px;
    left: 50%;
    margin-left: -450px;
    width: 900px;
}

table.dados td{
    text-align: center;
    border-style: solid;
    border-width: 1px;
}

table.dados tr.titulo{
    background-color: #91e4fb; 
}

div#corpo div div{
    position: relative;
    top: -45px;
    left: 50%;
    margin-left: -450px;
    width: 900px;
    height: 250px;
    background-color: #f7f6f6;
    display: flex;
    justify-content: center;
    align-items: center;
}

div#corpo div div h1{
    font-family: 'Andada', serif;
    color: #003748;
}

footer#rodape{
    top:185% !important;
}