<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>AbrirEspecie</servlet-name>
        <servlet-class>AbrirEspecie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Entrar</servlet-name>
        <servlet-class>Entrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AbrirTanques</servlet-name>
        <servlet-class>AbrirTanques</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AbrirEspecies</servlet-name>
        <servlet-class>AbrirEspecies</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AbrirEstoque</servlet-name>
        <servlet-class>AbrirEstoque</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AbrirFinanContas</servlet-name>
        <servlet-class>AbrirFinanContas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AbrirFinanImpostos</servlet-name>
        <servlet-class>AbrirFinanImpostos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AbrirFinanInsumos</servlet-name>
        <servlet-class>AbrirFinanInsumos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AbrirFinanMaoDeObra</servlet-name>
        <servlet-class>AbrirFinanMaoDeObra</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AbrirFinanMaqEquip</servlet-name>
        <servlet-class>AbrirFinanMaqEquip</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AbrirFinanPeixes</servlet-name>
        <servlet-class>AbrirFinanPeixes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AbrirFinanVendas</servlet-name>
        <servlet-class>AbrirFinanVendas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AbrirTanque</servlet-name>
        <servlet-class>AbrirTanque</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Arracoar</servlet-name>
        <servlet-class>Arracoar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarEspecie</servlet-name>
        <servlet-class>CadastrarEspecie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarFuncionario</servlet-name>
        <servlet-class>CadastrarFuncionario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CadastrarTanque</servlet-name>
        <servlet-class>CadastrarTanque</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarEspecie</servlet-name>
        <servlet-class>EditarEspecie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirEspecie</servlet-name>
        <servlet-class>br.ExcluirEspecie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirTanque</servlet-name>
        <servlet-class>ExcluirTanque</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserirDado</servlet-name>
        <servlet-class>InserirDado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserirEspecie</servlet-name>
        <servlet-class>InserirEspecie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InserirEspecieTanque</servlet-name>
        <servlet-class>EscolherEspecie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sair</servlet-name>
        <servlet-class>Sair</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExcluirEspeciee</servlet-name>
        <servlet-class>ExcluirEspeciee</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmarInsercaoEspecie</servlet-name>
        <servlet-class>ConfirmarInsercaoEspecie</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AbrirEscolherEspecie</servlet-name>
        <servlet-class>AbrirEscolherEspecie</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AbrirEspecie</servlet-name>
        <url-pattern>/AbrirEspecie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Entrar</servlet-name>
        <url-pattern>/Entrar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AbrirTanques</servlet-name>
        <url-pattern>/AbrirTanques</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AbrirEspecies</servlet-name>
        <url-pattern>/AbrirEspecies</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AbrirEstoque</servlet-name>
        <url-pattern>/AbrirEstoque</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AbrirFinanContas</servlet-name>
        <url-pattern>/AbrirFinanContas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AbrirFinanImpostos</servlet-name>
        <url-pattern>/AbrirFinanImpostos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AbrirFinanInsumos</servlet-name>
        <url-pattern>/AbrirFinanInsumos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AbrirFinanMaoDeObra</servlet-name>
        <url-pattern>/AbrirFinanMaoDeObra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AbrirFinanMaqEquip</servlet-name>
        <url-pattern>/AbrirFinanMaqEquip</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AbrirFinanPeixes</servlet-name>
        <url-pattern>/AbrirFinanPeixes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AbrirFinanVendas</servlet-name>
        <url-pattern>/AbrirFinanVendas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AbrirTanque</servlet-name>
        <url-pattern>/AbrirTanque</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Arracoar</servlet-name>
        <url-pattern>/Arracoar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarEspecie</servlet-name>
        <url-pattern>/CadastrarEspecie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarFuncionario</servlet-name>
        <url-pattern>/CadastrarFuncionario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CadastrarTanque</servlet-name>
        <url-pattern>/CadastrarTanque</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarEspecie</servlet-name>
        <url-pattern>/EditarEspecie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirTanque</servlet-name>
        <url-pattern>/ExcluirTanque</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserirDado</servlet-name>
        <url-pattern>/InserirDado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserirEspecie</servlet-name>
        <url-pattern>/InserirEspecie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InserirEspecieTanque</servlet-name>
        <url-pattern>/InserirEspecieTanque</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sair</servlet-name>
        <url-pattern>/Sair</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExcluirEspeciee</servlet-name>
        <url-pattern>/ExcluirEspeciee</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmarInsercaoEspecie</servlet-name>
        <url-pattern>/ConfirmarInsercaoEspecie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AbrirEscolherEspecie</servlet-name>
        <url-pattern>/AbrirEscolherEspecie</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EscolherEspecie</servlet-name>
        <url-pattern>/EscolherEspecie</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            60
        </session-timeout>
    </session-config>
</web-app>
