@import url('https://fonts.googleapis.com/css?family=Andada');

#check:checked ~ article#tanques{
    transform: translateX(7.5%);
}

div#navega{
    position: relative;
    top: 5px;
    left: 5px;
    margin-bottom: 5px;
}

div#navega a{
    text-decoration: none;
    color: #000;
}

span#atual{
    color: #00a4d3 !important;
}

div#navega a:hover{
    color: #00a4d3;
    text-decoration: underline;
    cursor: pointer;
}

/*TANQUES*/

article#tanques{
    position: relative;
    top: -375px;
    left: 10%;
    width: 80%;
    transition: all 0.5s;
}

span.tanque{
    margin: 1%;
    position: relative;
    margin-bottom: 30px;
    float: left;
    min-width: 175px;
    height: 200px;
    border-radius: 5px;
}

span.tanque button{
    border-style: inherit;
    background-image: url("../icones/lixeira.png");
    background-position: center;
    background-size: 100%;
    width: 20px;
    height: 20px;
    position: relative;
    top: 20px;
    left: 50%;
    margin-left: -10px;
    opacity: 0;
}

span.tanqueOk button{
    background-color: #63f26e;
}

span.tanqueOk{
    background-color: #63f26e;
}

span.tanque:hover{
    cursor: pointer;
    box-shadow: #63f26e 0px 20px 0px 0px;
}

span.tanqueOk:hover button{
    opacity: 1;
    cursor: pointer;
}

span.tanqueOk div{
    background-color: #16d211;
    width: 150px;
    height: 150px;
    border-radius: 5px;
    position: relative;
    left: 12.5px;
    top: 15px;
}

span.tanqueNo{
    background-color: #ff5d55;
}

span.tanqueNo button{
    background-color: #ff5d55;
}

span.tanqueNo:hover, span.tanqueNo div:hover{
    cursor: pointer;
    box-shadow: #ff5d55 0px 20px 0px 0px;
}

span.tanqueNo:hover button{
    opacity: 1;
    cursor: pointer;
}

span.tanqueNo div{
    background-color: #e61610;
    width: 150px;
    height: 150px;
    border-radius: 5px;
    position: relative;
    top:15px;
    left: 12.5px;
}

span.id{
    font-family: 'Andada', serif;
    font-weight: bold;
    font-size: 20px;
    margin: 28px;
    position: relative;
    top: 7.5px;
}

span.dado{
    font-family: 'Andada', serif;
    font-size: 15px;
    display: inline-block;
    margin-top: 5px;
    margin-left: 10px;
}

span.atv{
    font-family: 'Andada', serif;
    font-size: 17.5px;
    display: inline-block;
    margin-top: 3px;
    margin-left: 10px;
}

button#add{
    border-style: none;
    background-color: #fff;
    position: relative;
    top: 50px;
    left: 35%;
    width: 49px;
    height: 50px;
    border-radius: 50px;
    transition: all 0.3s;
}

button#add:hover{
    cursor: pointer;
    background-color: #1a7c96;
}

button#add{
    background-image: url("../icones/adicionar.png");
    background-size: 100%;
    width: 50px;
    position: relative;
}

span.botao{
    width: 150px;
    height: 150px;
    border-radius: 5px;
    position: relative;
    top:15px;
    left: 12.5px;
    float: left;
}

span.botao div{
    width: 150px;
    height: 150px;
    border-radius: 5px;
    position: relative;
    left: 12.5px;
    top: 15px;
}

footer#rodape{
    top: 120% !important;
}